<span class="radioClass">All :</span>

<input type="radio" name="options" value ="All" (change) ="onRadiobtnChange()" [(ngModel)] ="selectedEmployeeCount" />
<span class="radioClass">{{"All(" +all +")"}}</span>

<input type="radio" name="options" value ="Male" (change) ="onRadiobtnChange()" [(ngModel)] ="selectedEmployeeCount"/>
<span class="radioClass">{{"Male(" +male +")"}}</span>

<input type="radio" name="options" value ="Female" (change) ="onRadiobtnChange()" [(ngModel)] ="selectedEmployeeCount" />
<span class="radioClass">{{"Female(" +female +")"}}</span>

